/* line 5, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/addTransform.scss */
body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffef;
  font-family: verdana;
}

/* line 10, ../sass/addTransform.scss */
a {
  color: #666666;
  text-decoration: none;
}

/* line 14, ../sass/addTransform.scss */
a:hover {
  color: #000000;
  cursor: normal;
}

/* line 18, ../sass/addTransform.scss */
.header {
  display: flex;
  align-items: center;
}
/* line 21, ../sass/addTransform.scss */
.header .head-trans {
  flex: 20;
}
/* line 23, ../sass/addTransform.scss */
.header .head-trans .trans-name {
  font-size: 32px;
  font-family: verdana;
}
/* line 28, ../sass/addTransform.scss */
.header .window-tool {
  flex: 1;
}
/* line 30, ../sass/addTransform.scss */
.header .window-tool div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}
/* line 38, ../sass/addTransform.scss */
.header .window-tool div i {
  font-size: 1.2em;
}
/* line 42, ../sass/addTransform.scss */
.header .window-tool div:hover {
  background: #3d3d3d;
  color: #ffffff;
}

/* line 48, ../sass/addTransform.scss */
.line {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
/* line 52, ../sass/addTransform.scss */
.line i {
  border-radius: 50%;
  border: 0;
  width: 1em;
  height: 1em;
}
/* line 58, ../sass/addTransform.scss */
.line i:hover {
  background-color: #000;
  box-shadow: 0px 0px 7px #6FA1D9;
}
/* line 63, ../sass/addTransform.scss */
.line .checked {
  background-color: #000;
}

/* line 69, ../sass/addTransform.scss */
.containner {
  display: flex;
  justify-content: center;
  border-top: 1px solid #bfbfbf;
  height: 400px;
  margin-top: 30px;
}
/* line 75, ../sass/addTransform.scss */
.containner .div-start {
  width: 75%;
  margin-top: 50px;
}
/* line 78, ../sass/addTransform.scss */
.containner .div-start .input-trans-name {
  display: flex;
  line-height: 1.8em;
}
/* line 81, ../sass/addTransform.scss */
.containner .div-start .input-trans-name label {
  flex: 0.8;
  margin-right: 2em;
  font-weight: bold;
  text-align: right;
}
/* line 87, ../sass/addTransform.scss */
.containner .div-start .input-trans-name input {
  flex: 1.5;
  font-family: verdana MicrosoftYaHei STHeiti;
  text-indent: 0.4em;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 95, ../sass/addTransform.scss */
.containner .div-start .input-trans-describe {
  display: flex;
  line-height: 1.8em;
  margin-top: 0.3em;
}
/* line 99, ../sass/addTransform.scss */
.containner .div-start .input-trans-describe label {
  flex: 0.8;
  margin-right: 2em;
  font-weight: bold;
  text-align: right;
}
/* line 105, ../sass/addTransform.scss */
.containner .div-start .input-trans-describe textarea {
  flex: 1.5;
  font-family: verdana MicrosoftYaHei STHeiti;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 113, ../sass/addTransform.scss */
.containner .div-start .next-page {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 118, ../sass/addTransform.scss */
.containner .div-start .next-page div {
  display: flex;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
}
/* line 126, ../sass/addTransform.scss */
.containner .div-start .next-page div i {
  font-size: 1.1em;
}
/* line 130, ../sass/addTransform.scss */
.containner .div-start .next-page div:hover {
  transition: 1s;
  background: #3d3d3d;
  color: #ffffff;
}
/* line 137, ../sass/addTransform.scss */
.containner .div-deal-before {
  width: 95%;
  margin-top: 35px;
}
/* line 140, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before {
  display: flex;
}
/* line 142, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before .input-source-before {
  max-height: 100%;
  flex: 1;
}
/* line 145, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before .input-source-before span {
  line-height: 2.3em;
}
/* line 148, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before .input-source-before textarea {
  width: 100%;
  font-family: verdana MicrosoftYaHei STHeiti;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 155, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before .input-target-before {
  max-height: 100%;
  flex: 1;
  margin-left: 0.5em;
}
/* line 159, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before .input-target-before span {
  line-height: 2.3em;
}
/* line 162, ../sass/addTransform.scss */
.containner .div-deal-before .div-div-deal-before .input-target-before textarea {
  width: 100%;
  font-family: verdana MicrosoftYaHei STHeiti;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 170, ../sass/addTransform.scss */
.containner .div-deal-before .next-page {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 175, ../sass/addTransform.scss */
.containner .div-deal-before .next-page div {
  display: flex;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
}
/* line 183, ../sass/addTransform.scss */
.containner .div-deal-before .next-page div i {
  font-size: 1.1em;
}
/* line 187, ../sass/addTransform.scss */
.containner .div-deal-before .next-page div:hover {
  transition: 1s;
  background: #3d3d3d;
  color: #ffffff;
}
/* line 194, ../sass/addTransform.scss */
.containner .div-source-setting {
  width: 95%;
  margin-top: 35px;
}
/* line 197, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table {
  display: flex;
  align-items: center;
}
/* line 200, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .input-table-name {
  flex: 4.5;
}
/* line 202, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .input-table-name input {
  margin-left: 1.2em;
  text-indent: 1em;
  line-height: 2em;
  border-radius: 50px;
  border: 1px solid #a3a3a3;
}
/* line 209, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .input-table-name input:focus {
  outline: 0;
  border: 1px solid #97bbe4 !important;
  box-shadow: 0px 0px 5px #6FA1D9 !important;
}
/* line 214, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .input-table-name i {
  margin-left: 0.4em;
  color: #953b39;
  opacity: 0.8;
}
/* line 219, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .input-table-name i:hover {
  color: #702c2b;
  opacity: 1;
}
/* line 224, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .btn-select {
  flex: 1;
}
/* line 226, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .btn-select div {
  width: 150px;
  line-height: 1.8em;
  text-align: center;
  border-radius: 5px;
  background-color: #d9534f;
  color: #fff;
  font-family: Helvetica Neue;
  font-weight: 600;
}
/* line 239, ../sass/addTransform.scss */
.containner .div-source-setting .div-search-table .btn-select div:hover {
  background-color: #c9302c;
  cursor: default;
}
/* line 245, ../sass/addTransform.scss */
.containner .div-source-setting .div-column-name {
  margin-top: 1em;
}
/* line 247, ../sass/addTransform.scss */
.containner .div-source-setting .div-column-name .select-num {
  display: inline-block;
  color: #f9534e;
  font-family: SimSun;
  width: 2em;
  text-align: right;
}
/* line 254, ../sass/addTransform.scss */
.containner .div-source-setting .div-column-name .Columns {
  font-size: 1.8em;
}
/* line 258, ../sass/addTransform.scss */
.containner .div-source-setting .div-columns {
  margin-top: 1em;
  width: 95%;
  margin-left: 2em;
}
/* line 263, ../sass/addTransform.scss */
.containner .div-source-setting .div-columns div {
  line-height: 1.4em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.4em;
  border-radius: 20px / 5px;
  box-shadow: 0px 0px 5px #6FA1D9;
  font-family: georgia;
  display: inline-block;
}
/* line 274, ../sass/addTransform.scss */
.containner .div-source-setting .div-columns div:hover {
  cursor: default;
  background-color: #3f3f3f;
  color: #fff;
}
/* line 279, ../sass/addTransform.scss */
.containner .div-source-setting .div-columns .checked {
  background-color: #3f3f3f;
  color: #fff;
}
/* line 285, ../sass/addTransform.scss */
.containner .div-source-setting .next-page {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 290, ../sass/addTransform.scss */
.containner .div-source-setting .next-page div {
  display: flex;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
}
/* line 298, ../sass/addTransform.scss */
.containner .div-source-setting .next-page div i {
  font-size: 1.1em;
}
/* line 302, ../sass/addTransform.scss */
.containner .div-source-setting .next-page div:hover {
  transition: 1s;
  background: #3d3d3d;
  color: #ffffff;
}
/* line 309, ../sass/addTransform.scss */
.containner .div-target-setting {
  width: 95%;
  margin-top: 10px;
}
/* line 312, ../sass/addTransform.scss */
.containner .div-target-setting .div-selected-columns {
  height: 5.5em;
  margin-left: 2em;
}
/* line 315, ../sass/addTransform.scss */
.containner .div-target-setting .div-selected-columns div {
  line-height: 1.4em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.4em;
  border-radius: 20px / 5px;
  font-family: georgia;
  display: inline-block;
  background-color: #3f3f3f;
  color: #fff;
}
/* line 329, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
/* line 333, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .input-table-name {
  flex: 2;
}
/* line 335, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .input-table-name input {
  margin-left: 1.2em;
  text-indent: 1em;
  line-height: 2em;
  border-radius: 50px;
  border: 1px solid #a3a3a3;
}
/* line 342, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .input-table-name input:focus {
  outline: 0;
  border: 1px solid #97bbe4 !important;
  box-shadow: 0px 0px 5px #6FA1D9 !important;
}
/* line 347, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .input-table-name i {
  margin-left: 0.4em;
  color: #953b39;
  opacity: 0.8;
}
/* line 352, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .input-table-name i:hover {
  color: #702c2b;
  opacity: 1;
}
/* line 357, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .btn-select {
  flex: 1;
}
/* line 359, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .btn-select div {
  display: inline-block;
  width: 150px;
  line-height: 1.8em;
  text-align: center;
  border-radius: 5px;
  background-color: #d9534f;
  color: #fff;
  font-family: Helvetica Neue;
  font-weight: 600;
}
/* line 373, ../sass/addTransform.scss */
.containner .div-target-setting .div-search-table .btn-select div:hover {
  background-color: #c9302c;
  cursor: default;
}
/* line 379, ../sass/addTransform.scss */
.containner .div-target-setting .div-column-name {
  margin-top: 1em;
}
/* line 381, ../sass/addTransform.scss */
.containner .div-target-setting .div-column-name .select-num {
  display: inline-block;
  color: #f9534e;
  font-family: SimSun;
  width: 2em;
  text-align: right;
}
/* line 388, ../sass/addTransform.scss */
.containner .div-target-setting .div-column-name .Columns {
  font-size: 1.8em;
}
/* line 392, ../sass/addTransform.scss */
.containner .div-target-setting .div-columns {
  margin-top: 1em;
  width: 95%;
  margin-left: 2em;
}
/* line 397, ../sass/addTransform.scss */
.containner .div-target-setting .div-columns div {
  line-height: 1.4em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.4em;
  border-radius: 20px / 5px;
  box-shadow: 0px 0px 5px #6FA1D9;
  font-family: georgia;
  display: inline-block;
}
/* line 408, ../sass/addTransform.scss */
.containner .div-target-setting .div-columns div:hover {
  cursor: default;
  background-color: #3f3f3f;
  color: #fff;
}
/* line 413, ../sass/addTransform.scss */
.containner .div-target-setting .div-columns .checked {
  background-color: #3f3f3f;
  color: #fff;
}
/* line 419, ../sass/addTransform.scss */
.containner .div-target-setting .next-page {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 424, ../sass/addTransform.scss */
.containner .div-target-setting .next-page div {
  display: flex;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
}
/* line 432, ../sass/addTransform.scss */
.containner .div-target-setting .next-page div i {
  font-size: 1.1em;
}
/* line 436, ../sass/addTransform.scss */
.containner .div-target-setting .next-page div:hover {
  transition: 1s;
  background: #3d3d3d;
  color: #ffffff;
}
/* line 443, ../sass/addTransform.scss */
.containner .div-deal-after {
  width: 95%;
  margin-top: 35px;
}
/* line 446, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after {
  display: flex;
}
/* line 448, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after .input-source-after {
  max-height: 100%;
  flex: 1;
}
/* line 451, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after .input-source-after span {
  line-height: 2.3em;
}
/* line 454, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after .input-source-after textarea {
  width: 100%;
  font-family: verdana MicrosoftYaHei STHeiti;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 461, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after .input-target-after {
  max-height: 100%;
  flex: 1;
  margin-left: 0.5em;
}
/* line 465, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after .input-target-after span {
  line-height: 2.3em;
}
/* line 468, ../sass/addTransform.scss */
.containner .div-deal-after .div-div-deal-after .input-target-after textarea {
  width: 100%;
  font-family: verdana MicrosoftYaHei STHeiti;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 476, ../sass/addTransform.scss */
.containner .div-deal-after .next-page {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 481, ../sass/addTransform.scss */
.containner .div-deal-after .next-page div {
  display: flex;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
}
/* line 489, ../sass/addTransform.scss */
.containner .div-deal-after .next-page div i {
  font-size: 1.1em;
}
/* line 493, ../sass/addTransform.scss */
.containner .div-deal-after .next-page div:hover {
  transition: 1s;
  background: #3d3d3d;
  color: #ffffff;
}
/* line 500, ../sass/addTransform.scss */
.containner .div-ending {
  width: 95%;
  margin-top: 1.5em;
}
/* line 503, ../sass/addTransform.scss */
.containner .div-ending .div-transform-info {
  font-family: Helvetica Neue;
  width: 900px;
  margin: 0 auto;
  display: flex;
}
/* line 508, ../sass/addTransform.scss */
.containner .div-ending .div-transform-info div {
  height: 1em;
  margin-left: 2.5em;
  font-weight: bolder;
  font-family: garamond;
  color: #bb91bb;
}
/* line 514, ../sass/addTransform.scss */
.containner .div-ending .div-transform-info div span {
  font-weight: normal;
}
/* line 520, ../sass/addTransform.scss */
.containner .div-ending .div-column-name {
  margin-top: 1.3em;
}
/* line 522, ../sass/addTransform.scss */
.containner .div-ending .div-column-name .select-num {
  display: inline-block;
  color: #f9534e;
  font-family: SimSun;
  width: 2em;
  text-align: right;
}
/* line 529, ../sass/addTransform.scss */
.containner .div-ending .div-column-name .Columns {
  font-size: 1.8em;
}
/* line 532, ../sass/addTransform.scss */
.containner .div-ending .div-column-name .btn-add-trans {
  margin-left: 34em;
  display: inline-block;
  width: 100px;
  line-height: 1.8em;
  text-align: center;
  border-radius: 5px;
  background-color: #d9534f;
  color: #fff;
  font-family: Helvetica Neue;
  font-weight: 600;
}
/* line 545, ../sass/addTransform.scss */
.containner .div-ending .div-column-name .btn-add-trans:hover {
  background-color: #c9302c;
  cursor: default;
}
/* line 550, ../sass/addTransform.scss */
.containner .div-ending .div-columns {
  width: 900px;
  margin-left: 2.5em;
  margin-top: 0.5em;
}
/* line 556, ../sass/addTransform.scss */
.containner .div-ending .div-columns .map-columns {
  float: left;
  display: flex;
  margin-left: 1em;
  margin-top: 0.5em;
}
/* line 562, ../sass/addTransform.scss */
.containner .div-ending .div-columns .map-columns .source {
  line-height: 1.4em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.4em;
  font-family: georgia;
  border-radius: 20px / 5px;
  color: #000;
  box-shadow: 0px 0px 5px #6FA1D9;
}
/* line 572, ../sass/addTransform.scss */
.containner .div-ending .div-columns .map-columns .target {
  line-height: 1.4em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.4em;
  border-radius: 20px / 5px;
  font-family: georgia;
  background-color: #3f3f3f;
  color: #fff;
}
