/* line 5, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/addTopic.scss */
body {
  padding: 50px;
  background-color: #ffffe9;
}

/* line 7, ../sass/addTopic.scss */
a {
  color: #999999;
  text-decoration: none;
}

/* line 11, ../sass/addTopic.scss */
a:hover {
  color: #000000;
  cursor: normal;
}

/* line 15, ../sass/addTopic.scss */
.header {
  display: flex;
  align-items: center;
}
/* line 18, ../sass/addTopic.scss */
.header .head-topic {
  flex: 20;
}
/* line 20, ../sass/addTopic.scss */
.header .head-topic .topic-name {
  font-size: 32px;
  font-family: verdana;
}
/* line 25, ../sass/addTopic.scss */
.header .window-tool {
  display: flex;
  flex: 1;
}
/* line 28, ../sass/addTopic.scss */
.header .window-tool div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}
/* line 36, ../sass/addTopic.scss */
.header .window-tool div i {
  font-size: 1.2em;
}
/* line 40, ../sass/addTopic.scss */
.header .window-tool div:hover {
  background: #3d3d3d;
  color: #ffffff;
  transition: 1s;
}

/* line 47, ../sass/addTopic.scss */
.containner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 500px;
  font-family: verdana;
}
/* line 55, ../sass/addTopic.scss */
.containner .div-add-topic {
  margin-top: 100px;
  width: 800px;
}
/* line 58, ../sass/addTopic.scss */
.containner .div-add-topic .input-div-name {
  display: flex;
  line-height: 1.8em;
}
/* line 61, ../sass/addTopic.scss */
.containner .div-add-topic .input-div-name .label-topic-name {
  flex: 0.8;
  margin-right: 2em;
  font-weight: bold;
  text-align: right;
}
/* line 67, ../sass/addTopic.scss */
.containner .div-add-topic .input-div-name #input-topic-name {
  flex: 1.2;
  font-family: verdana;
  text-indent: 0.4em;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 74, ../sass/addTopic.scss */
.containner .div-add-topic .input-div-name .topic-name-error {
  min-width: 12em;
  font-family: verdana;
  margin-left: 2em;
  color: #f9534e;
}
/* line 82, ../sass/addTopic.scss */
.containner .div-add-topic .toggle-options {
  display: flex;
  line-height: 1.8em;
  margin-top: 0.3em;
}
/* line 86, ../sass/addTopic.scss */
.containner .div-add-topic .toggle-options .toggle {
  flex: 0.8;
  margin-right: 2em;
  font-weight: bold;
  text-align: right;
}
/* line 92, ../sass/addTopic.scss */
.containner .div-add-topic .toggle-options .toggle-div {
  flex: 1.2;
}
/* line 94, ../sass/addTopic.scss */
.containner .div-add-topic .toggle-options .toggle-div select {
  height: 100%;
  width: 100%;
  font-family: verdana;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
/* line 100, ../sass/addTopic.scss */
.containner .div-add-topic .toggle-options .toggle-div select option {
  text-align: center;
}
/* line 105, ../sass/addTopic.scss */
.containner .div-add-topic .toggle-options span {
  min-width: 12em;
  margin-left: 2em;
}
/* line 112, ../sass/addTopic.scss */
.containner .next-page {
  margin-top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 117, ../sass/addTopic.scss */
.containner .next-page div {
  display: flex;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
}
/* line 125, ../sass/addTopic.scss */
.containner .next-page div i {
  font-size: 1.1em;
}
/* line 129, ../sass/addTopic.scss */
.containner .next-page div:hover {
  transition: 1s;
  background: #3d3d3d;
  color: #ffffff;
}
