/* line 5, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/topic.scss */
body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffef;
}

/* line 9, ../sass/topic.scss */
a {
  color: #666666;
  text-decoration: none;
}

/* line 13, ../sass/topic.scss */
a:hover {
  color: #000000;
  cursor: normal;
}

/* line 18, ../sass/topic.scss */
.header .head-topic {
  display: inline-block;
}
/* line 20, ../sass/topic.scss */
.header .head-topic .topic-name {
  font-size: 32px;
  font-weight: bolder;
}
/* line 24, ../sass/topic.scss */
.header .head-topic .topic-name:hover {
  cursor: default;
}
/* line 27, ../sass/topic.scss */
.header .head-topic a {
  margin-left: 1em;
  cursor: pointer;
}
/* line 32, ../sass/topic.scss */
.header .window-tool {
  display: inline-block;
  float: right;
  margin-top: 1em;
}
/* line 36, ../sass/topic.scss */
.header .window-tool i {
  font-size: 1.2em;
  color: #666666;
  margin-left: 0.5em;
}
/* line 41, ../sass/topic.scss */
.header .window-tool i:hover {
  color: #000000;
  cursor: pointer;
}

/* line 47, ../sass/topic.scss */
.containner {
  margin-top: 70px;
  height: 360px;
}
/* line 50, ../sass/topic.scss */
.containner .trans-table {
  table-layout: fixed;
  width: 100%;
}
/* line 53, ../sass/topic.scss */
.containner .trans-table .trans-item {
  border-bottom: 1px solid #f1f1f1;
  line-height: 1.6em;
}
/* line 56, ../sass/topic.scss */
.containner .trans-table .trans-item td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 61, ../sass/topic.scss */
.containner .trans-table .trans-item .trans-name {
  font-family: verdana;
  text-indent: 1em;
  width: 23%;
}
/* line 69, ../sass/topic.scss */
.containner .trans-table .trans-item .trans-desc {
  font-family: verdana;
  text-indent: 1.5em;
  width: 62%;
}
/* line 77, ../sass/topic.scss */
.containner .trans-table .trans-item .trans-state {
  width: 15%;
  font-family: Verdana;
  text-align: center;
}

/* line 86, ../sass/topic.scss */
.footer .div-msg {
  margin-bottom: 0.4em;
  margin-top: 2em;
  height: 4em;
  font-family: impact;
  display: flex;
}
/* line 92, ../sass/topic.scss */
.footer .div-msg .div-div-msg {
  color: gray;
  font-size: 1.3em;
}
/* line 96, ../sass/topic.scss */
.footer .div-msg div {
  flex: 1;
  text-align: center;
}
/* line 99, ../sass/topic.scss */
.footer .div-msg div span {
  margin-right: 1em;
}
