@import "compass/reset";
@import "compass/css3";
body{
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
	background-color: #ffffef;
}
a{
	color: #666666;
	text-decoration:none;
}
a:hover{
	color: #000000;
	cursor: normal;
}
.header{
	.head-topic{
		display:inline-block;
		.topic-name{
			font-size: 32px;
			font-weight: bolder;
		}
		a{
			margin-left: 1em;
			cursor: pointer;
		}
	}
	.window-tool{
		display: inline-block;
		float:right;
		margin-top: 1em;
		i{
			font-size: 1.2em;
			color: #666666;
			margin-left: 0.5em;
		}
		i:hover{
			color: #000000;
			cursor: pointer;
		}
	}	
}
.containner{
	margin-top:50px;
	height: 430px;
	.topic-table{
		table-layout: fixed;
		width: 100%;
		.topic-item{
			border-bottom:1px solid #f1f1f1;
			line-height: 1.6em;
			td{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.topic-name{
				font-family: verdana;
				//font-family: georgia;
				// font-family: comic sans ms;
				// font-family: impact;
				text-indent: 1em;
				width:23%;
			}
			.topic-describe{
				font-family: verdana;
				// font-family: comic sans ms;
				// font-family: impact;
				// font-family: garamond;
				text-indent: 1.5em;
				width:62%;				
			}
			.topic-state{
				width: 15%;
				text-align: center;
				font-family: Verdana;
			}
			.topic-name:hover{
				cursor: default;
				text-decoration:underline;
				transition: 1s ease-in-out;
			}

		}
	}
}
.footer{
	.div-msg{
		margin-bottom: 0.4em;
		margin-top: 2em;
		height:4em;
		font-family: impact;
		display: flex;
		.div-div-msg{
			color: gray;
			font-size: 1.3em;
		}
		div{
			flex: 1;
			text-align:center;
			span{
				margin-right:1em;
			}
		}
	}
}